@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Mina&family=Poppins:wght@300&family=Vollkorn:ital@1&display=swap');

html{
  scrollbar-width: none;
}

body{
  font-size: 62.5% !important;
  font-family: 'Mina', sans-serif;
  padding: 0;
  margin: 0;
  color: #393939;
  background-color: #E5E5E5;
}

a{
  text-decoration: none;
  color: black
}

button{
  border: none;
  background-color: rgba(0,0,0,0);
  font-family: 'Poppins', sans-serif;
}

button:hover{
  background-color: rgba(0,0,0,0);
  cursor: pointer;
}

::-webkit-scrollbar{
  display: none;
}